*{
    margin: 0;
    padding: 0;
}
/*  顶部黑色nav 开始 */
.nav-height{
    background-color: #222222;
    height: 28px;
    line-height: 28px;
    position: relative;
   
}
.container{
    width: 100%;
    max-width: 1128px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 11px;
    padding-right: 11px;
    color: #fff;
    font-size: 12px;
}
.nav-fr{
    float: right;
}
.nav-fr:first-child{
    display: inline-block;
}
.nav-fr b{
    margin: 0 10px;
}
.logo{
    margin-left: 10px;
    display:inline-block;
    width: 70px;
    border-left: 1px solid #949494;
    text-align: center;
}

.box{
    width: 100%;
    height:0;
    background-color: rebeccapurple;
    transition: all 0.8s;
}
.nav-height:hover .box{
    height: 300px;
}
/*  顶部黑色nav 结束 */

/*顶部导航 开始*/
.hw_nav{
    position: relative;
}
.hw_nav nav{
    height: 74px;
    background: #ffffff;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}
.hw_logo{
    display: block;
    overflow: hidden;
    margin-right: 60px;
    margin-top: 20px;
    float: left;
    max-width: 133px;
}
.hw_logo img{
    max-width: 100%;
}
.nav_contact{
    display: block;
    float: left;
}
.nav_contact>ul{
    list-style: none;
    display:flex;
    float: left;
}
.nav_contact>ul>li{
    list-style: none;
    display:flex;
    color: black;
      font-size: 18px;
    text-align: center;
    line-height: 74px;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}
li span{
    margin: 0 10px;
 
}
.clearfix2{
    float: left;
} 
.clearfix2::before{
    content: "";
    width: 2px;
    height: 50px;
    background: #d4d4d4;
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}
.search{
    float: right;
    color: black;
    font-size: 24px;
    line-height: 74px;
    cursor: pointer;
}

.clearfix1 .list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e5e5e5;
    top: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
    
}
.list .row{
    display: flex;
    overflow: hidden;
    height:0;
    transition: all 0.4s;
}
.p40{
    position: relative;
    width: 25%;
    float: left;
}
.p40 img{
    border-radius: 5px;
}
.p40 .more{
    padding-left: 20px;
    height: 40px;
    width: 130px;
    font-size: 18px;
    line-height: 40px;
    background: #f66f6a;
    position: absolute;
    right: -12px;
    bottom: 13px;
    border-radius: 6px;
}
.more span{
    float: left;
}
.icon_list{
    position: relative;
    float: left;
    width: 58.33333333%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 40px;
    justify-content: space-around;
}
.icon{
    margin: 0 14px;
}
.icon svg{
    width: 65px;
}
.icon span{
    display: block;
    font-size: 18px;
    color: black;
    margin-top:-60px ;
}
.href{
    position: absolute;
    top: 280px;
    left:30px;
    display: block;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.href span{
    color: #f66f6a;
    margin: 0 0;
}
.href:hover{
    text-decoration: underline;
}
.title_list{
    float: left;
    width: 16.666666666%;
    color: black;
    margin-left: 30px;
    position: relative;
}
.title_list h3{
    font-size: 18px;
    text-align: left;
}
.title_list>ul{
    list-style: none;
}
.title_list>ul>li{
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}
.visit{
    position: absolute;
    top: 300px;
    left: 0px;
}
.visit span{
    margin: 0;
    color: #f66f6a; 
}
.title_list>ul>li:hover{
    text-decoration: underline;
}
.shouji:hover .row{
    height: 325px; 
    padding: 40px 15px;
}
/*顶部导航 结束*/

/*背景图 开始*/
.banner{
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 550px;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    z-index: -10;
}
.btn{
    display: none;
}
.btn-l{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 550px;
    font-size: 30px;
    color: #f66f6a;
    text-align: center;
    line-height: 550px;
}
.btn-r{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 550px;
    font-size: 30px;
    color: #f66f6a;
    text-align: center;
    line-height: 550px;
}
.banner:hover .btn{
    display: block;
    cursor: pointer;
}
.liaojie{
    position: absolute;
    top: 220px;
    left: 165px;
    font-size: 22px;
    color: black;
    line-height: 50px;
    text-align: center;
    margin: 0;
}
.liaojie i{
    float: right;
}
/*背景图 结束*/

/*图片之下 开始*/
.navigation-buckets{
    background: #fff;
    display: block;
    position: relative;
    width: 100%;
    height: 140px;
    padding: 20px 0;
    border-radius: 5px;
    bottom: 100px;
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}
.productor{
    float: left;
    width: 33.33333333%;
    height: 150px;
    box-sizing: border-box;
}
.navigation-buckets .two{
    border-left:1px solid #d4d4d4 ;
    border-right:1px solid #d4d4d4 ;
}

.productor .img{
    margin-left: 30px;
    margin-top: 10px;
    width: 100px;
    height: 94px;
    float: left;
}
.productor>.title{
     color: black;
     float: left;
      width: 180px;
    height: 80px;
    margin-top: 10px;
}
.productor h3{
    font-size: 22px;
}
.productor p{
    display: block;
   margin-top: 10px;
    font-size: 18px;
    color: #666666;
}
/*图片之下 结束*/

/*你的焦点 开始*/
.product-callout{
    display: block;
    margin-bottom: 100px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    min-height: 641px;
}
.callout_left{
    width: 60%;
    float: left;
    position: relative;
}
.callout_right{
    width: 40%;
    float: left;
}
.callout_left .cart-bg{
    background: linear-gradient(to bottom right, #15b0e8, #59c8d5);
    background-color: #15b0e8 \9;
    height: 450px;
    position: absolute;
    left: -60%;
    width: 140%;
    top: 0;
    z-index: -1;
    border-radius: 5px;
}
.callout_left .cart-info{
    padding-top: 100px;
    padding-bottom: 120px;
    position: static;
    height: 450px;
    width: 82%;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.cart-info .img{
    position: absolute;
    top: 50px;
    right: 105px;
    padding-bottom: 15px;
    width: 264px;
    transition: all 0.9s;
}
.img .first{
    transition: all 0.5s;
}
.img .second{
    margin-top: -50px;
    transition: all 0.5s;
}
.cart-info .cart-text{
    position: absolute;
    top: 90px;
    right: 380px;
    width: 240px;
    height: 330px;
}
.cart-text h3{
    display: block;
    margin: 28px 0 14px;
    font-size: 28px;
}
.cart-text span{
    position: absolute;
    left: 0;
    bottom: 70px;
    font-size: 22px;
}
.cart-text small{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size:  9px;
}
 .img:hover .first{
   transform: translateY(-20px);
}
.img:hover .second{
    transform: translateY(20px);
 }

 .card{
    background: #dde6ed;
    border-radius: 5px;
    display: block;
    width: 450px;
 }
 .video_text{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 300px;
 }
 .video_text .category-name{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0;
 }
.content{
    height: 220px;
    overflow: hidden;
}
.content h2{
    font-size: 38px;
    line-height: 1.5;
    margin-top: 10px;
}
.content p{
    font-size: 18px;
    line-height: 24px;
}
.video_text .liaojiegenduo{
    margin-top: 50px;
    font-size: 22px;
}
/*你的焦点 结束*/

/*老头 医疗更暖心 开始*/
.hero{
    margin-bottom: 100px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
/*老头 医疗更暖心 结束*/

/*展会中心 开始*/
.image_text{
    max-width: 1366px;
    margin: 0 auto 100px;
    position: relative;
}
.text_clearfix{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-bottom: 60px;
}
.text_clearfix h2{
    display: block;
    float: left;
    margin-bottom: 0;
    line-height: 1;
    width: 65%;
    font-size: 38px;
}
.text_clearfix span{
    float: right;
    font-size: 22px;
}
.text_clearfix span i{
    margin-left: 15px;
}
.image_text .flash{
    width: 100%;
    height: 520px;
    margin: auto;
    position: relative;
}
.rushb{
    width: 70%;
    margin: auto;
}
.rl{
   
    float: left;
    width: 50%;
    height: 400px;
    margin-top:60px ;
    background-color:#dde6ed;
}
.rr{
    float: left;
    width: 50%;
}
.rl-text{
    position: relative;
    width: 400px;
    height: 300px;
    margin-top: 60px;
    margin-left: 100px;
}
.rl-text p{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0;
}
.rl-text span{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
}
.rl-text div{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 22px;
}
.thel{
    position: absolute;
    top: 0;
    left: 150px;
    width: 100px;
    height: 520px;
    line-height: 520px;
    font-size: 50px;
    color: #f66f6a;
}
.ther{
    position: absolute;
    top: 0;
    right:60px;
   width: 50px;
    height: 520px;
    line-height: 520px;
    font-size: 50px;
    color: #f66f6a;
}
.radis{
    margin-top: 50px;
    width: 60px;
    margin:50px auto 0;   
}
.radis .dd{
    text-align: center;
    width: 12px;
    height: 12px;
    border: 1px solid #222222;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    background-color: #222222 ;
}
.radis .aa{
    float: left;
    text-align: center;
    width: 12px;
    height: 12px;
    border: 1px solid #222222;
    border-radius: 50%;
}
/*展会中心 结束*/

/*成功故事 开始*/
.success{
    max-width: 1366px;
    height: 600px;
    margin: 0 auto;

}
.case{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.case-items{
    position: relative;
    width: 300px;
}
.case-items img{
    width: 300px;
}
.case-items:hover img{
    margin-left: -20px;
}
.story{
    position: absolute;
    top: 100px;
    left: 0;
    width: 300px;
    height: 260px;
    background-color: #dde6ed;
    z-index: -10;
    border-radius: 5px;
}
.story .story-item{
    width: 230px;
    margin-top: 100px;
    margin-left: 40px;
}
.story .story-item p{
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 0;
}
.story .story-item span{
    font-size: 22px;
    line-height: 60px;
} 
/*成功故事 结束*/

/*结尾 开始*/
.final{
    width: 100%;
    background-color: #e5e5e5;
}
.final-body{
    width: 1100px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0 0 0;
}
.final-item{
    width: 25%;
    float: left;
  
}
.final-item-sm{
    width: 16.66666666%;
    float: left;
}
.final-item-sm h3{
    font-size: 22px;
    padding:0 0 20px 0;
}
.final-item>ul{
    list-style: none;
   
}
.final-item>ul>li{
    display: block;
    list-style: none;
     font-size: 16px;
     padding: 10px 0;
}
.final-item-sm>ul{
    list-style: none;
   
}
.final-item-sm>ul>li{
    display: block;
    list-style: none;
     font-size: 16px;
     padding: 10px 0;
}
.social{
    width: 8.33333333%;
    float: left;
}
.final-item h3{
    font-size: 22px;
    padding:0 0 20px 0;
}
.social>ul{
    list-style: none;
}
.social>ul>li{
    list-style: none;
    display: block;
    margin:0 0 20px 0 ;
}
.social>ul>li svg{
    height: 30px;
    width: 30px;
}
.rukou{
    width:1100px ;
    height: 150px;
    margin: auto;
}
.rukou h3{
    font-size: 22px;
    padding: 0 0 20px 0;
}
.zp{
    width: 100%;
}
.zp>.item{
    width: 25%;
    font-size: 16px;
    float: left;
    padding: 0 0 10px 0;
}
.white_box{
    width: 1100px;
    margin: auto;
    height: 120px;
    
}
/*结尾 结束*/

/*结尾 开始*/
.nav-final{
    width: 100%;
    background-color:#222222 ;
    height: 30px;
}
.bod{
    width: 1136px;
    margin: auto;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.qq{
    float: left;
}
.zz{
    float: right;
}
/*结尾 结束*/